{% include 'common/offcanvas.html' %}
{% include 'common/modal.html' %}

<script type="application/javascript">
    const DICTIONARY_URL = '{{ url_for('tool.get_dictionary') }}';
    const TRANSLATION_URL = '{{ url_for('tool.get_translation') }}';

    var offcanvasTitleEl = document.getElementById('offcanvasTitle');
    var offcanvasEl = document.getElementById('offcanvasRoot');
    var offcanvasContentEl = document.getElementById('offcanvasContent');

    const ARTICLE_CONTENT_EL = document.getElementById('article-content');
    const LANGUAGE_SELECT_EL = document.getElementById('language-selector');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}?{{ static_version }}"></script>

<script type="application/javascript">
    const OFFCANVAS_INSTANCE = new bootstrap.Offcanvas(offcanvasEl);

    document.addEventListener('DOMContentLoaded', function () {
        initFontAndDarkButtons();
        initLanguageSelection();
    });
</script>

<footer class="container box my-5">
    <p class="text-center">
        <a href="/" class="small text-muted">
            &copy;{{ sitename }}
        </a>
    </p>
</footer>