<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ sitename }} - Featured Books For English Learning</title>
    <meta name="description" content="Readin offers three classic English books, complete with word and sentence translations, tailored for English learners seeking to improve their language skills.">
    {% include 'common/head_meta.html' %}
</head>
<body class="{% if user_settings.darkMode == 'dark' %}bg-dark text-light{% endif %}" style="font-size: {{ user_settings.fontSize }};">

{% include 'common/navbar.html' %}
<main>
    <section class="container box mt-5">
        <h2 class="fs-5">Books</h2>
        <div class="d-flex justify-content-evenly flex-wrap">
            {% for book in books %}
                <div class="d-flex justify-content-center">
                    <div class="card mt-3 border-0 text-center" style="width: 10rem;">
                        <a href="{{ url_for('book.get_book', book_slug=book.slug) }}">
                            <img src="{{ book.cover }}" class="card-img-top cover" alt="{{ book.name }}">
                        </a>
                        <div class="card-body p-0">
                            <h5 class="card-title">
                                <a href="{{ url_for('book.get_book', book_slug=book.slug) }}">
                                    {{ book.name }}
                                </a>
                            </h5>
                            <p class="card-text">{{ book.author }}</p>
                            <p class="text-muted small">
                                Vocabulary: {{ summary.vocabulary_distribution[book.slug] }},
                                Words: {{ summary.word_count_distribution[book.slug]|short_number }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container box my-5">
        <h2 class="fs-5"><a href="{{ url_for('news.get_all_news') }}">News</a></h2>
        <ol>
            {%  for n in news %}
                <li>
                    <a href="{{ url_for('news.get_news', id=n.id) }}">{{ n.title }}</a>
                    <span class="small text-muted fw-light"> - {{ n.publication }}, {{ n.date|time_ago }}</span>
                </li>
            {% endfor %}
        </ol>
    </section>
</main>

{% include 'common/footer.html' %}
</body>
</html>