<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ sitename }} - Featured Books For English Learning</title>
    <meta name="description" content="Readin offers three classic English books, complete with word and sentence translations, tailored for English learners seeking to improve their language skills.">

    <link rel="canonical" href="{{ url_for('news.get_all_news') }}" />
    {% include 'common/head_meta.html' %}
</head>
<body class="{% if user_settings.darkMode == 'dark' %}bg-dark text-light{% endif %}" style="font-size: {{ user_settings.fontSize }};">

{% include 'common/navbar.html' %}

<main>
    <section class="container box my-5">
        <h1 class="fs-5 text-start">All News</h1>
        <ol>
            {%  for n in all_news %}
                <li class="my-2">
                    <a href="{{ url_for('news.get_news', id=n.id) }}">{{ n.title }}</a>
                    <span class="small text-muted fw-light"> - {{ n.publication }}, {{ n.date|time_ago }}</span>
                </li>
            {% endfor %}
        </ol>
    </section>

    <section class="container box my-5">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                <li class="page-item me-3">
                    <a href="{{ url_for('news.get_all_news', page=page-1) }}">Prev</a>
                </li>
                {% endif %}

                {% if news_count != 0 %}
                <li class="page-item">
                    <a href="{{ url_for('news.get_all_news', page=page+1) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>
</main>

{% include 'common/footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadReadingProgressToButton('.read-button');
    });
</script>
</body>
</html>