<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ news.title }} - {{ sitename }}</title>
    {% include 'common/head_meta.html' %}
</head>
<body class="{% if user_settings.darkMode == 'dark' %}bg-dark text-light{% endif %}" style="font-size: {{ user_settings.fontSize }};">

{% include 'common/navbar.html' %}

<main>
    <article class="container box mt-5 mb-4 article-content" id="article-content">

        {{ news.tagged_title|safe }}

        <p class="text-muted small my-4 text-center">
            Vocabulary: {{ news.vocabulary_count }}, Words: {{ news.word_count }}
        </p>

        {{ news.tagged_content_html|safe }}

        <p class="text-muted small mt-3 mb-5 text-end">from
            <a href="{{ news.url }}" target="_blank" rel="nofollow">{{ news.publication }}</a>
        </p>
    </article>
</main>

{% include 'common/footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initWordTranslation();
        initSentenceTranslation();
    });
</script>
</body>
</html>
